//Fonts
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

//Color variables
$base-color: #5d81f5;
$dark-color: #363d54;
$text-color: rgb(166, 160, 177);


/**
* Global styles
**/
.white-background {
  background-color: $base-color !important;
  color: white !important;
}

.white-background:hover {
  background-color: $dark-color !important;
  color: white !important;
}

//vue-cal
.vue-cal {
  background-color: #ffffffa1;
  border-radius: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em;
}

.vuecal__event {
  border: 1px solid #ffffff55;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

.vuecal__cell {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.vuecal__time-cell {
  //  height: 15px !important;
}

// .vuecal__time-column .vuecal__time-cell:nth-child(4n-2) .vuecal__time-cell-label,
// .vuecal__time-column .vuecal__time-cell:nth-child(4n-1) .vuecal__time-cell-label,
// .vuecal__time-column .vuecal__time-cell:nth-child(4n-4) .vuecal__time-cell-label {
//   //Hides the half hours
//   visibility: hidden;
// }

.vuecal__time-column .vuecal__time-cell:nth-child(even) .vuecal__time-cell-label {
  //Hides the half hours
  visibility: hidden;
}